@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    background-image: url(../public/images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 200px;
} */

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background: none;
    border: 2px solid #E6E5EA;
}

input[type="checkbox"]::after {
    content: "\f00c";
    color: #000;
    display: none;
}

input[type="checkbox"]:checked {
    background-image: url(../public/images/check.svg);
    background-repeat: no-repeat;
    background-position: 0;
    border: none;
}

.completed-task {
    text-align: left;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    text-decoration: line-through;
    text-decoration-line: strikethrough;
}

.isnot-complete {
    text-align: left;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.show-on {
    display: block;
}

.filter-windows {
    display: none;
}

.filter-mobile {
    display: flex;
}

/* @media (min-width: 600px) {
    body {
        background-image: url(../public/images/bg-desktop-light.jpg);
    }
} */

@media (min-width: 640px) {
    .filter-windows {
        display: flex;
    }
    
    .filter-mobile {
        display: none;
    }
}

@media (min-width: 1200px) {
    .show-on {
        display: none;
    }
}